@import '_mixins.scss';


.about-content{
  margin: 5% 15% 10% 15%;
  position: relative;
  a:hover{
    color: $link-hover-color ;
  }

}

.bio-img{
  display: block;
  text-align: center;
}

.jen-img{
  background-image: url(img/jen-img.png);
  background-repeat: no-repeat;
  height: 30%;
  width: auto;
  border-radius: 180px;
  background-position: center center;
  border: 5px $link-hover-color solid;
  
}

.bio-social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.social{
  color: black;
}
