@import '_mixins.scss';

.about-content{
  height: 100%;
  display: flex;
  margin: 5% 15% 10% 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (max-width: 800px) {
  .about-content {
    display: block;
  }
}

.jen-img{
  background-image: url(img/jen-img.png);
  background-repeat: no-repeat;
  height: 30%;
  width: auto;
  border-radius: 500px;
  background-position: center center;
  border: 5px $link-hover-color solid;
  position: relative;
}
