.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-content{
  margin: 5% 30% 5% 30%;
  text-align: center;
}

.input{
  font-family: $font-stack;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  margin-bottom: 20px;

}

.send{
  margin-bottom: 20px;
}

.msg{
  height: 25%;
  font-family: $font-stack;
  padding-bottom: 10%;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 20px;
}