@import '_mixins.scss';

body{
  background-color: $body-color
}

h1, h2, h3, h4, h5{
  font-family: $font-stack;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 25px;
}

h5{
  font-size: 20px;
}