@import '_mixins.scss';

/*FLEX BOX GRID SYSTEM*/
.wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col{
  flex: 1;
  flex-direction: row;
  min-height: 300px;
}


.col-half{
  flex: 0 0 50%;
}

.col-third{
  flex: 0 0 33.33%;
}

.col-quarter{
  flex: 0 0 25%;
}

@media (max-width: 599px) {
  .col {
    flex: 0 0 100%;
  }
}

@media (min-width: 600px) {
  .col {
    flex: 0 0 50%;
  }
}

@media (min-width: 875px) {
  .col {
    flex: 0 0 33.33333%;
  }
}

/*Div styling*/

.project-header{
  margin-top: 10%;
}

.project-github{
  display: block;
  color: black;
}

.foodly{
  background-color: $foodly-color;
  text-align: center
}
.foodly-logo{
  height: auto;
  width: 50%;
  margin-top: 20%;
  margin-bottom: 25%;
}

.buffy{
  background-color: $buffy-color;
  text-align: center;
}
.buffy-logo{
  height: auto;
  width: 50%;
  margin-top:25%
}

.gcd{
  background-color: $gcd-color;
  text-align: center
}
.gcd-logo{
  height: auto;
  width: 40%;
  margin-top: 25%;
  margin-bottom: 25%;
}

.equal-platform{
  background-color: $diversity-color;
  text-align: center
}
.equal-platform-logo{
  width: 50%;
  height: auto;
  margin-top: 30%;
  margin-bottom: 30%;
}

.tic-tac-toe{
  background-color: $tic-tac-toe-color;
  text-align: center;
}
.unicorn{
  height: auto;
  width: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.hangman{
  background-color: $hangman-color;
  text-align: center;
}
.hangman-logo{
  height: auto;
  width: 40%;
  margin-top: 20%;
  margin-bottom: 25%;
}
