@import '_mixins.scss';

.wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col{
  flex: 1;
  flex-direction: row;
  min-height: 50px;
  background-color: purple;
}

.col-half{
  flex: 0 0 50%;
}

.col-third{
  flex: 0 0 33.33%;
}

.col-quarter{
  flex: 0 0 25%;
}

@media (max-width: 400px) {
  .col {
    flex: 0 0 100%;
  }
}

@media (min-width: 400px) {
  .col {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  .col {
    flex: 0 0 33.33333%;
  }
}